In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'salary':[25000,48000,71000,85000,90000,55000],
                   'city':['bengluru','dehli','hydrabad','bengluru','hydrabad','bengluru'],
                  'gender':['male','female','feamle','female','male','male'],
                  'exp':[1,3,5,6,9,None]})

In [4]:
df

   salary      city  gender  exp
0   25000  bengluru    male  1.0
1   48000     dehli  female  3.0
2   71000  hydrabad  feamle  5.0
3   85000  bengluru  female  6.0
4   90000  hydrabad    male  9.0
5   55000  bengluru    male  NaN

# encoder and imputer

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
lab_enc = LabelEncoder()

In [7]:
df2 = lab_enc.fit_transform(df['city'])

In [8]:
df2

array([0, 1, 2, 0, 2, 0])

In [10]:
pd.Series(df2)

0    0
1    1
2    2
3    0
4    2
5    0
dtype: int32

In [11]:
df['city'] = df2

In [12]:
df

   salary  city  gender  exp
0   25000     0    male  1.0
1   48000     1  female  3.0
2   71000     2  feamle  5.0
3   85000     0  female  6.0
4   90000     2    male  9.0
5   55000     0    male  NaN

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [15]:
Ohe = OneHotEncoder
Si = SimpleImputer

In [16]:
df = pd.DataFrame({'salary':[25000,48000,71000,85000,90000,55000],
                   'city':['bengluru','dehli','hydrabad','bengluru','hydrabad','bengluru'],
                  'gender':['male','female','feamle','female','male','male'],
                  'exp':[1,3,5,6,9,None]})

In [17]:
df

   salary      city  gender  exp
0   25000  bengluru    male  1.0
1   48000     dehli  female  3.0
2   71000  hydrabad  feamle  5.0
3   85000  bengluru  female  6.0
4   90000  hydrabad    male  9.0
5   55000  bengluru    male  NaN

In [28]:
ct = make_column_transformer((Ohe,['city','gender']),
                            (Si,['exp']),
                             remainder='passthrough')#passthrough at all keep other column

In [30]:
encoded = pd.DataFrame(ct.fit_transform(df))
encoded

TypeError: Cannot clone object. You should provide an instance of scikit-learn estimator instead of a class.