In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:\\Users\\pc\\Desktop\\.ipynb_checkpoints\\sales.csv')

In [3]:
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [4]:
radio_data = pd.DataFrame({'radio':[50]})

In [5]:
#creat dataframe
feature_cols = ['radio']
x = data[feature_cols]
y = data.sales

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
#model is getting trained
lm = LinearRegression()

In [8]:
lm.fit(x,y)

LinearRegression()

In [9]:
#model ready for prediction
lm.predict(radio_data)

array([19.43642726])

In [10]:
#find the coeficient and intercept
print(lm.intercept_)
print(lm.coef_)

9.311638095158283
[0.20249578]

In [11]:
#y = mx+c
9.3116380+0.20249578*50

19.436427000000002

In [12]:
#use to the null hypothis
#null hyp no relation tv ans sales 
#alternative hyo relation has tv and sales

In [13]:
import statsmodels.formula.api as smf

In [14]:
lm = smf.ols(formula = 'sales~radio',data=data).fit()
lm.pvalues

Intercept    3.561071e-39
radio        4.354966e-19
dtype: float64

In [15]:
#so that 0.000000045th number 19th

In [17]:
#pvalues<0.05 so pvalue less than alfa value so reject null hyo means good for investment

In [18]:
 newspaper= pd.DataFrame({'newspaper':[50]})

In [19]:
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [20]:
#craete data frame
feature_cols = ['newspaper']
x = data[feature_cols]
y = data.sales

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
lm = LinearRegression()

In [23]:
lm.fit(x,y)

LinearRegression()

In [24]:
lm.predict(newspaper)

array([15.08606199])

In [25]:
import statsmodels.formula.api as smf

In [26]:
lm = smf.ols(formula = 'sales~newspaper',data=data).fit()
lm.pvalues

Intercept    4.713507e-49
newspaper    1.148196e-03
dtype: float64

In [27]:
#so that 0.000014thnumvber lies 03

In [28]:
#pavlues0.14>0.05 we failed null hyo reject

In [29]:
#so no investment in newspaper becozs losses sales or down sales

In [34]:
data

        TV  radio  newspaper  sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [30]:
import matplotlib.pyplot as plt